{% extends "base.html" %}
    {% block content %}
    
    <h1>Welcome to Rock, Paper, Scissors</h1>
        <main>
            <li><a href="/pick-your-hand">Play Game!</a></li>
        </main>
        <aside>
            <h3>Although the game has a lot of complexity to it, the rules to play it are pretty simple.<br>
            The game is played where players deliver hand signals that will represent the elements of the game; rock, paper and scissors. <br>
            The outcome of the game is determined by 3 simple rules:<br><br>
            
            Rock wins against scissors.<br>
            Scissors win against paper.<br>
            Paper wins against rock. <br> <br>

            That's all you need to know!
        </h3>
        </aside>
    
{% endblock %}