<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Player One</h2>
    <form action="/gameplay" method='post'>
    <label for='player1'>What is your name?</label>
    <input type="text" id='player1'>
    <label for='chioces1'>Chose your hand:</label>
    <select name='chioces1' id='chioces1'>
        <option value="rock">rock</option>
        <option value="paper">paper</option>
        <option value="scissors">scissors</option>
    </select>
    <h2>Player Two</h2>
    <label for='player2'>What is your name?</label>
    <input type="text" id='player2'>
    <label for='chioces2'>Chose your hand:</label>
    <select name='chioces2' id='chioces2'>
        <option value="rock">rock</option>
        <option value="paper">paper</option>
        <option value="scissors">scissors</option>
    </select>
    <br><br>
    <input type="submit" value="Submit" id="submit"> 
        </form>
</body>
</html>