{% extends "base.html" %}
    {% block content %}
    <main>
        <h1>And the winner is... :</h1>>
            <section>
                {% for result in results %}
                        Result: {{ results }}
                    {% endfor %}
            </section>
    </main>
    <h2>Player One</h2>
    <form action="/gameplay" method='post'>
    <label for='player1'>What is your name?</label>
    <input type="text" name='player1' id='player1'>
    <label for='choices1'>Chose your hand:</label>
    <select name='choices1' id='choices1'>
        <option value="rock">rock</option>
        <option value="paper">paper</option>
        <option value="scissors">scissors</option>
    </select>
    <h2>Player Two</h2>
    <label for='player2'>What is your name?</label>
    <input type="text" name='player2'id='player2'>
    <label for='choices2'>Chose your hand:</label>
    <select name='choices2' id='choices2'>
        <option value="rock">rock</option>
        <option value="paper">paper</option>
        <option value="scissors">scissors</option>
    </select>
    <br><br>
    <input type="submit" value="Submit" id="submit"> 
        </form>
    {% endblock %}